In [11]:
import pandas as pd

In [12]:
df = pd.read_pickle(r"shared/Motor_Vehicle_Collisions_-_Crashes.pkl")

In [13]:
df

,CRASH DATE_CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2021-09-11 02:39:00,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,2.0,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,2022-03-26 11:45:00,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,2022-06-29 06:55:00,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,2021-09-11 09:35:00,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,0.0,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,2021-12-14 08:13:00,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018240,2023-07-03 18:05:00,NaN,NaN,40.866806,-73.931010,"(40.866806, -73.93101)",RIVERSIDE DRIVE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4648110,Sedan,Sedan,NaN,NaN,NaN
2018241,2023-07-22 21:39:00,BRONX,10457.0,40.844177,-73.902920,"(40.844177, -73.90292)",EAST 174 STREET,WEBSTER AVENUE,NaN,1.0,...,NaN,NaN,NaN,NaN,4648117,Sedan,NaN,NaN,NaN,NaN
2018242,2023-07-02 17:55:00,MANHATTAN,10006.0,40.711033,-74.014540,"(40.711033, -74.01454)",WEST STREET,LIBERTY STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4648366,Taxi,NaN,NaN,NaN,NaN
2018243,2023-07-22 13:15:00,QUEENS,11433.0,40.691580,-73.793190,"(40.69158, -73.79319)",110 AVENUE,157 STREET,NaN,1.0,...,Driver Inattention/Distraction,NaN,NaN,NaN,4648129,Station Wagon/Sport Utility Vehicle,E-Bike,NaN,NaN,NaN
2018244,2023-07-22 03:00:00,QUEENS,11433.0,40.700240,-73.792854,"(40.70024, -73.792854)",SOUTH ROAD,164 STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4647913,Sedan,NaN,NaN,NaN,NaN

In [14]:
1 # Drop the rows where 'BOROUGH' is missing
df = df.dropna(subset=['BOROUGH'])

In [15]:
# Count the occurrences of each unique value in 'BOROUGH'
borough_counts = df['BOROUGH'].value_counts()

In [16]:
print(borough_counts.idxmax())

BROOKLYN

In [17]:
#2
df = df.dropna(subset=['BOROUGH'])

populations = {
    'Bronx': 1446788,
    'Brooklyn': 2648452,
    'Manhattan': 1638281,
    'Queens': 2330295,
    'Staten Island': 487155,
}

borough_counts = df['BOROUGH'].value_counts()

crashes_per_100k = {}
for borough, crashes in borough_counts.items():
    corrected_borough = borough.title()
    
    if corrected_borough not in populations:
        print(f"Skipping unknown borough: {borough}")
        continue
    
    population = populations[corrected_borough]
    crashes_per_100k[corrected_borough] = (crashes / population) * 100000


if not crashes_per_100k:
    print("No data in crashes_per_100k. Please check the borough names.")
else:
   
    max_borough = max(crashes_per_100k, key=crashes_per_100k.get)
    print(f"{max_borough}, with {crashes_per_100k[max_borough]:.5f} crashes per 100k population")

Manhattan, with 19121.62810 crashes per 100k population

In [20]:
import pandas as pd


df = pd.read_pickle(r"shared/Motor_Vehicle_Collisions_-_Crashes.pkl")

In [21]:
#3
df = df[df['CONTRIBUTING FACTOR VEHICLE 1'].notna() & (df['CONTRIBUTING FACTOR VEHICLE 1'] != 'Unspecified')]

factor_counts = df['CONTRIBUTING FACTOR VEHICLE 1'].value_counts()

leading_cause = factor_counts.idxmax()
proportion = (factor_counts.max() / factor_counts.sum()) * 100

print(f"{leading_cause}, {proportion:.1f}%")

Driver Inattention/Distraction, 30.4%

In [22]:
4 # Sum the counts of the top 3 causes and divide by the total count of specified crashes
top_3_proportion = factor_counts.head(3).sum() / factor_counts.sum() * 100

print(f"{top_3_proportion:.1f}%")

47.6%

In [24]:
#5
import pandas as pd


df = pd.read_pickle(r"shared/Motor_Vehicle_Collisions_-_Crashes.pkl")

df['NUMBER OF PERSONS KILLED'].fillna(0, inplace=True)

fatal_accidents_count = len(df[df['NUMBER OF PERSONS KILLED'] > 0])

print(fatal_accidents_count)

2804

In [26]:
#6
total_accidents = len(df)


df['NUMBER OF PERSONS KILLED'].fillna(0, inplace=True)

fatal_accidents_count = len(df[df['NUMBER OF PERSONS KILLED'] > 0])

average_deaths_per_1000_accidents = (fatal_accidents_count / total_accidents) * 1000

print(f"{average_deaths_per_1000_accidents:.3f}")

1.389

In [27]:
#7

total_accidents = len(df)

missing_borough_count = df['BOROUGH'].isna().sum()

proportion_missing_borough = (missing_borough_count / total_accidents) * 100

print(f"{proportion_missing_borough:.1f}%")

31.1%

In [28]:
#8

df = df.dropna(subset=['VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2'])

vehicle_combinations = df.groupby(['VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2']).size().reset_index(name='count')

max_combination_row = vehicle_combinations.iloc[vehicle_combinations['count'].idxmax()]

vehicle_type_1 = max_combination_row['VEHICLE TYPE CODE 1']
vehicle_type_2 = max_combination_row['VEHICLE TYPE CODE 2']
print(f"{vehicle_type_1} and {vehicle_type_2}")

Sedan and Sedan